.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  border-radius: 4px;
  z-index: 3;
}

.spinner::before {
  content: "";
  width: 12%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: thick solid var(--dark-grey);
  border-bottom-color: transparent;
  animation: 1.5s ease-out spin infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
