.price__label {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: -6px;
  border-radius: 0px 4px 4px 0px;
  height: 61px;
  padding: 6px 20px 6px 10px;
  background-color: var(--red);
}

.price__label:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -6px;
  left: 0;
  border-style: solid;
  border-width: 0 6px 6px 0;
  border-color: transparent var(--price-label-shadow) transparent transparent;
  width: 0;
  height: 0;
}

.price__offer-type {
  font-size: 15px;
  color: #fff;
}

.price__price {
  font-size: 21px;
  font-weight: 700;
  color: #fff;
}
