.subtitle {
  position: relative;
  margin: 60px 0 40px;
  height: 51px;
  font-size: 32px;
  line-height: 39px;
  font-family: "Inter";
  text-align: center;
  text-transform: uppercase;
  color: var(--red);
}

.subtitle::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-top: 1px solid var(--red);
  border-bottom: 1px solid var(--red);
  width: 104px;
  height: 5px;
}
