.text-field__input {
  display: block;
  width: 100%;
  height: 41px;
  padding-left: 15px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  font-family: "OpenSans", sans-serif;
  font-size: 15px;
  color: var(--light-black);
}

.text-field__input::placeholder {
  color: var(--grey);
}

.text-field__input:focus {
  outline: none;
  border-color: var(--grey);
}
