.properties {
  display: flex;
  justify-content: center;
}

.properties__container,
.message-logs {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 150px;
  align-items: center;
}
